$left-drawer-width: 60vw;
$right-drawer-width: 60vw;
$left-drawer-speed: 0.3s;
$right-drawer-speed: 0.3s;
$left-arrow-speed: 0.3s;
$right-arrow-speed: 0.3s;
$left-menu-items-speed: 0.7s;
$max-left-menu-items-number: 20;
$left-menu-items-delay-leg: 50;

